@using WebStoryFroEveryting.Services
@inject SchoolAuthService _authService
@using WebStoryFroEveryting.Localizations
@using WebStoryFroEveryting.Models.Lessons
<!DOCTYPE html>
<html>
<head>
    <link href="~/css/Lessons/header.css" rel="stylesheet" />
    @await RenderSectionAsync("Styles", false)
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/8.0.7/signalr.min.js" integrity="sha512-7SRCYIJtR6F8ocwW7UxW6wGKqbSyqREDbfCORCbGLatU0iugBLwyOXpzhkPyHIFdBO0K2VCu57fvP2Twgx1o2A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/chat.js"></script>
    <script src="/js/index.js"></script>
    </head>

<body>
<div class="header">
    <div id="notification" class="notification">
        <div class="description">Test</div>
    </div>
    <ul class="header-items">
        <li>@_authService.GetUserName()</li>
        <li><a href="/Lessons" class="header-item">@Lesson.Index_Home</a></li>
        <li><a href="#" class="header-item">Тесты</a></li>
        <li><a href="#" class="header-item">Контакты</a></li>
        <li><a href="/SchoolAuth/Login">@Lesson.Index_SignIn</a></li>
        <li><a href="/SchoolAuth/Registration">Регистрация</a></li>
        <li><a href="/SchoolAuth/Logout">@Lesson.Index_Logout</a></li>
        <li><a href="/SchoolUser/PotentialBannedUsers">Потенциальный бан</a></li>
        <li><a href="/SchoolUser/Index">Пользователи</a></li>
        <li><a>Выйти</a></li>
        <li><a href="/Lessons/Create" class="add-button header-item"><i class="fas fa-plus"></i>+</a></li>
        <li><a href="/SchoolRoles/">Roles</a></li>
    </ul>
</div>
<div class="content">
    @RenderBody()
</div>
<div class="chat">
    <div class="messages">
        <div class="message">
            <span class="author">User</span>
            <span class="text">Some text</span>
        </div>
    </div>
    <div class="new-message-container">
        <input class="new-message" type="text"/>
        <button class="send-new-message">Send</button>
    </div>
</div>

<script src="/js/Comment/index.js"></script>
<script src="/js/UserRole/index.js"></script>

</body>
</html>